/*** DEFAULTS **************************

* FONTS
    font-family:    "Roboto Condensed";

* COLORS
    Steel Grey:     #41464B
    Blue Bayoux:    #64707B
    White:          #FFFFFF
    Black:          #000000

*/
:root {
  --color-blue: #30AAE2;
  --color-dark-blue: #103c63;
}

@font-face {
  font-family: 'Intro';
  src: url('fonts/Intro.otf') format('opentype');
}
@font-face {
  font-family: 'Century Gothic';
  src: url('fonts/GOTHIC.TTF') format('truetype');
}
@font-face {
  font-family: 'Century Gothic';
  font-weight: bold;
  src: url('fonts/GOTHICB.TTF') format('truetype');
}
@font-face {
  font-family: 'Century Gothic';
  font-style: italic;
  src: url('fonts/GOTHICI.TTF') format('truetype');
}
@font-face {
  font-family: 'Century Gothic';
  font-style: italic;
  font-weight: bold;
  src: url('fonts/GOTHICBI.TTF') format('truetype');
}

html {
  font-size: 62.5%; /* 62.5% of 16px = 10px */
}

html,
body {
    height: 100%;
}

body {
    font-family: "Roboto Condensed";
}

p {
    color: #64707B;
    font-size: 1.6rem;
    font-weight: 300;
}

h3 {
  text-transform: uppercase;
  color: var(--color-dark-blue);
  font-size: 3rem;
}

/*** HOME ********************************/
#home {
  margin: 100px 0 30px;
}

/*** PARALLAX ****************************/
.bg-parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/*** BUTTONS *****************************/
.btn-general {
    border-color: white;
    border-width: 2px;
    border-radius: 0;
    padding: 1.2rem 2.6rem;
    font-weight: 400;
    text-transform: uppercase;
}

.btn-white {
    border-color: white;
    color: white;
}

.btn-white:hover,
.btn-white:focus {
    background-color: white;
    color: var(--color-blue);
}

.btn-blue {
    border-color: var(--color-dark-blue);
    color: var(--color-dark-blue);
}

.btn-blue:hover,
.btn-blue:focus {
    background-color: var(--color-dark-blue);
    color: white;
}

a.btn.learn-more {
  font-size: 1rem;
  padding: 1rem 1.2rem .8rem;
  font-weight: bold;
}

.initial-statement {
  text-align: center;
  font-size: 2rem;
  color: #444;
  font-family: 'Century Gothic';
  font-weight: normal;
}

/*** ANIMATION ***************************/
#home-cover,
#home-heading,
#home-btn {
    animation-duration: .5s;
}

#home-cover {
    animation-delay: .1s;
}

#home-heading {
    animation-delay: .5s;
}

#home-btn {
    animation-delay: 1s;
}

.btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 22px;
    padding: 3px 15px;
    border-radius: 0;
    display: none;
}

/*** ICONS ******************************/
.cb-icon {
  max-width: 50%;
}
/*** CONTENT ****************************/
.content-box {
    padding: 6rem 0;
}

.content-title h3 {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
    margin: 0 0 20px 0;
}

.content-title-white h3 {
    color: white;
}

.content-title-underline {
    width: 5rem;
    height: .4rem;
    background-color: var(--color-blue);
    margin: 0 auto 3rem auto;
}

.content-box h4 {
  text-transform: uppercase;
  color: var(--color-dark-blue);
  font-weight: bold;
  /* font-family: Intro; */
  font-size: 3rem;
  text-align: center;
}

.content-box h5 {
  text-transform: uppercase;
  color: var(--color-blue);
  font-size: 2rem;
  text-align: center;
}

.content-box .row {
  margin-bottom: 3rem;
}

.content-box img {
  max-width: 90%;
}

.content-box p {
  font-size: 1.8rem;
  text-align: center;
}

.content-box a.btn {
  font-size: 1.2rem;
  /* margin-top: 60px; */
}

/*** SERVICES ****************************/
.service-item {
    padding: 2rem 0;
    /* margin-bottom: 2rem; */
    /* cursor: pointer; */
    /* height: 200px; */
}

/*** WORK **************************************/
.work-wrapper {
  text-align: center;
  margin-bottom: 30px;
}

.work-wrapper img {
  max-width: 90%;
}

.row.no-gutters [class*=col-] {
    padding-left: 0;
    padding-right: 0;
}

.img-wrapper {
    overflow: hidden;
}

.img-wrapper img {
    transition: transform .5s ease;
}

.img-wrapper img:hover {
    transform: scale(1.5);
    cursor: zoom-in;
}

/*** SOCIAL *********************************/
.social-list {
    padding-left: 0;
}

.social-list li {
    list-style: none;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 6px;
    margin-top: 10px;
}

.social-icon i {
    font-size: 36px;
}

.icon-gray i {
    color: #64707B;
}

.icon-white i {
    color: #ffffff;
}

.social-icon i:hover {
    color: var(--color-blue);
}

/*** carousel-item ***************************/
.carousel-item img {
    max-height: 600px;
    max-width: 800px;
    margin: 0 auto;
}

/*** CONTACT ********************************/
footer {
    background-color: #41464B;
    padding-top: 30px;
    border-top: 5px solid rgba(0, 0, 0, 0.1);
}

#contact-left h3,
#contact-right h3 {
    color: white;
    font-size: 27px;
    font-weight: 700;
}

#contact-left p {
    color: white;
    margin-bottom: 30px;
}

#contact-info {
    background-image: url("../img/world-map.png");
    background-repeat: no-repeat;
    background-size: contain;
}

#contact-info address {
    color: white;
}

#contact-info address strong,
#phone-fax-email strong {
    font-size: 16px;
    letter-spacing: 1px;
    color: white;
}

form .form-control {
    background: transparent;
    border-radius: 0;
    border-color: white;
    font-size: 17px;
    font-weight: 300;
    padding: 8px 16px;
    margin-bottom: 16px;
    color: white;
}


/*** FOOTER *******************************/
#footer-bottom {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 30px 0;
    margin-top: 60px;
}
#footer-copyrights p {
    margin: 0;
    color: #fff;
}

#footer-menu {
    float: left;
    color: white;
    font-size: 16px;
    font-weight: 300;
}

#footer-menu ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

#footer-menu ul li {
    display: inline-block;
}

#footer-menu ul li a {
    color: white;
    font-size: 16px;
    font-weight: 300;
    margin: 0 10px;
    text-decoration: none;
}

#footer-menu ul li a:hover {
    color: var(--color-blue);
}


/*** NAV ****************************/
.site-logo {
  position: relative;
  top: -12px;
}

.navbar {
    padding: 20px 0;
    transition: all .5s ease-in-out;
}

.site-top-nav {
    background: rgba(16, 60, 99, 1);
    padding: 7px 0;
}

.site-nav-wrapper {
    padding: 0 85px;
}

.navbar-nav {
    float: right;
}

.navbar-nav > li > a {
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
    background: none;
}

.navbar-nav > li > a:hover {
    color: var(--color-blue);
}

.site-top-nav .navbar-nav > li.active > a {
    background: none;
    color: var(--color-blue);
}

.navbar-toggle {
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid white;
    border-radius: 0;

}

.navbar-toggle .icon-bar {
    background-color: white;
}

.navbar-collapse {
    max-height: none !important;
}

section.mb-50 {
  margin-bottom: 50px;
}


.border {
  border: 1px solid #aaa;
}

.shadow {
  box-shadow: #406f99  3px 3px 8px;
}
